body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.recipe {
  border: 5px solid burlywood;
  padding: 20px;
  border-radius: 10%;
  box-shadow: 10px 10px 15px gray;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
