body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.cow {
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  font-family: sans-serif;
}
